# Strings

In [ ]:
# String creation, accessing and len() function.
string = 'Hello world'
print(len(string))
print(string[0])
print(string[1])
print(string[-1])
print(string[-6])

11
H
e
d

In [ ]:
# String looping
## iterate over elements
s = 'perfectplanb'
for element in s:
  print(element)
## iterate over elements using range() function
print('\n using range and indexes\n')
s = 'perfectplanb'
for index in range(0,len(s)):
  print(s[index])
## counting element in string:
fruit = 'banana'
count = 0
for element in fruit:
  if element == 'a':
    count +=1
print(f'\n count of a: {count}\n')

# above program can written in using count() function:
fruit.count('a')

p
e
r
f
e
c
t
p
l
a
n
b

 using range and indexes

p
e
r
f
e
c
t
p
l
a
n
b

 count of a: 3

3

In [ ]:
# String slicing
string = 'Hello World'
first_five = string[:5]
print(first_five) 
# Reverse string
string[::-1]

Hello

'dlroW olleH'

In [ ]:
# string library
# isupper()
string = 'perfectplanb'
print(string.isupper())
string = 'PerfectPlanB'
print(string.isupper())
# islower()
print(string.islower())
string = 'perfectplanb'
print(string.islower())
# upper()
string = 'PerfectPlanB'
print(string.upper())
# lower()
string = 'PerfectPlanB'
print(string.lower())
# lstrip()
greet = '   Hello bob /   '
print(greet.lstrip())
# rstrip()
greet = '   Hello bob /  '
print(greet.rstrip())
# strip()
greet = '    Hello bob /   '
print(greet.strip())

False
False
False
True
PERFECTPLANB
perfectplanb
Hello bob /
   Hello bob /
Hello bob /

In [ ]:
# Parsing and Extracting
data = 'From vikramenimireddy@gmail.com Sun Mar 28 21'
atpos = data.find('@')
stpos = data.find(' ',atpos)
print(data[atpos+1:stpos])

gmail.com

Question 1 :
Take the following Python code that stores a string:`str = 'Perfect-Plan-B:0.7541' Use find and string slicing to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number

In [ ]:
str = 'Perfect-Plan-B:0.7541'
pos = str.find(':')
number = float(str[pos+1:])
print(number)

0.7541

# Files

In [ ]:
# open(file,mode)
# file : path of the file
#  mode:
# 'r' : read - default value - gives erorr if file doesn't exist
# 'a' : append - creates file if file doesn't exist
# 'x' : Create - creates specified file if file doesn't exist
# 'w' : write - creates file if file doesn't exist
try:
  open('demofile.txt','x')
except FileExistsError:
  print('File already exist')

File already exist

In [ ]:
f = open('demofile.txt','r')
count = 0
for line in f:
  count+=1
  print(line,end ='')
print('\n\n Line count :',count)

I had never broken into a car before.

We were in Laredo, having just finished our first day at a Habitat for Humanity work site. The Hotchkiss volunteers had already left, off to enjoy some Texas BBQ, leaving me behind with the college kids to clean up. Not until we were stranded did we realize we were locked out of the van.

Someone picked a coat hanger out of the dumpster, handed it to me, and took a few steps back.

"Can you do that thing with a coat hanger to unlock it?"

"Why me?" I thought.




More out of amusement than optimism, I gave it a try. I slid the hanger into the window's seal like I'd seen on crime shows, and spent a few minutes jiggling the apparatus around the inside of the frame. Suddenly, two things simultaneously clicked. One was the lock on the door. (I actually succeeded in springing it.) The other was the realization that I'd been in this type of situation before. In fact, I'd been born into this type of situation.

My upbringing has numbed me to unpredictability and chaos. With a family of seven, my home was loud, messy, and spottily supervised. My siblings arguing, the dog barking, the phone ringing—all meant my house was functioning normally. My Dad, a retired Navy pilot, was away half the time. When he was home, he had a parenting style something like a drill sergeant. At the age of nine, I learned how to clear burning oil from the surface of water. My Dad considered this a critical life skill—you know, in case my aircraft carrier should ever get torpedoed. "The water's on fire! Clear a hole!" he shouted, tossing me in the lake without warning. While I'm still unconvinced about that particular lesson's practicality, my Dad's overarching message is unequivocally true: much of life is unexpected, and you have to deal with the twists and turns.

Living in my family, days rarely unfolded as planned. A bit overlooked, a little pushed around, I learned to roll with reality, negotiate a quick deal, and give the improbable a try. I don't sweat the small stuff, and I definitely don't expect perfect fairness. So what if our dining room table only has six chairs for seven people? Someone learns the importance of punctuality every night.

But more than punctuality and a special affinity for musical chairs, my family life has taught me to thrive in situations over which I have no power. Growing up, I never controlled my older siblings, but I learned how to thwart their attempts to control me. I forged alliances, and realigned them as necessary. Sometimes, I was the poor, defenseless little brother; sometimes I was the omniscient elder. Different things to different people, as the situation demanded. I learned to adapt.

Back then, these techniques were merely reactions undertaken to ensure my survival. But one day this fall, Dr. Hicks, our Head of School, asked me a question that he hoped all seniors would reflect on throughout the year: "How can I participate in a thing I do not govern, in the company of people I did not choose?"

The question caught me off guard, much like the question posed to me in Laredo. Then, I realized I knew the answer. I knew why the coat hanger had been handed to me.

Growing up as the middle child in my family, I was a vital participant in a thing I did not govern, in the company of people I did not choose. It's family. It's society. And often, it's chaos. You participate by letting go of the small stuff, not expecting order and perfection, and facing the unexpected with confidence, optimism, and preparedness. My family experience taught me to face a serendipitous world with confidence.

 Line count : 26

In [ ]:
# Reading whole file
f = open('demofile.txt','r')
string = f.read()
print(string[:20])
print(string.count('the'))
print(string.lower().count('the'))
print(len(string))
# Note: each new line it consider as one length character
print(string.count(' '))

I had never broken i
39
44
3597
622

In [ ]:
f = open('demofile.txt')
for line in f:
  line = line.rstrip()
  if (line.startswith('From:')):
    continue
  print(line)

I had never broken into a car before.
We were in Laredo, having just finished our first day at a Habitat for Humanity work site. The Hotchkiss volunteers had already left, off to enjoy some Texas BBQ, leaving me behind with the college kids to clean up. Not until we were stranded did we realize we were locked out of the van.
Someone picked a coat hanger out of the dumpster, handed it to me, and took a few steps back.
"Can you do that thing with a coat hanger to unlock it?"
"Why me?" I thought.
My upbringing has numbed me to unpredictability and chaos. With a family of seven, my home was loud, messy, and spottily supervised. My siblings arguing, the dog barking, the phone ringing—all meant my house was functioning normally. My Dad, a retired Navy pilot, was away half the time. When he was home, he had a parenting style something like a drill sergeant. At the age of nine, I learned how to clear burning oil from the surface of water. My Dad considered this a critical life skill—you know, in case my aircraft carrier should ever get torpedoed. "The water's on fire! Clear a hole!" he shouted, tossing me in the lake without warning. While I'm still unconvinced about that particular lesson's practicality, my Dad's overarching message is unequivocally true: much of life is unexpected, and you have to deal with the twists and turns.
Living in my family, days rarely unfolded as planned. A bit overlooked, a little pushed around, I learned to roll with reality, negotiate a quick deal, and give the improbable a try. I don't sweat the small stuff, and I definitely don't expect perfect fairness. So what if our dining room table only has six chairs for seven people? Someone learns the importance of punctuality every night.
But more than punctuality and a special affinity for musical chairs, my family life has taught me to thrive in situations over which I have no power. Growing up, I never controlled my older siblings, but I learned how to thwart their attempts to control me. I forged alliances, and realigned them as necessary. Sometimes, I was the poor, defenseless little brother; sometimes I was the omniscient elder. Different things to different people, as the situation demanded. I learned to adapt.
Back then, these techniques were merely reactions undertaken to ensure my survival. But one day this fall, Dr. Hicks, our Head of School, asked me a question that he hoped all seniors would reflect on throughout the year: "How can I participate in a thing I do not govern, in the company of people I did not choose?"
The question caught me off guard, much like the question posed to me in Laredo. Then, I realized I knew the answer. I knew why the coat hanger had been handed to me.
Growing up as the middle child in my family, I was a vital participant in a thing I did not govern, in the company of people I did not choose. It's family. It's society. And often, it's chaos. You participate by letting go of the small stuff, not expecting order and perfection, and facing the unexpected with confidence, optimism, and preparedness. My family experience taught me to face a serendipitous world with confidence.

In [ ]:
f = open('demofile.txt')
for line in f:
  line = line.rstrip()
  if (not line.startswith('From:')):
    continue
  print(line)

From: More out of amusement than optimism, I gave it a try. I slid the hanger into the window's seal like I'd seen on crime shows, and spent a few minutes jiggling the apparatus around the inside of the frame. Suddenly, two things simultaneously clicked. One was the lock on the door. (I actually succeeded in springing it.) The other was the realization that I'd been in this type of situation before. In fact, I'd been born into this type of situation.

In [ ]:
filename = input('Enter the file name: ')
f = open(filename)
count = 0
for line in f:
  line = line.strip()
  if line.startswith('From'):
    print(line)
    count += 1
print(f'\nThere are {count} lines startswith From')

Enter the file name: demofile.txt
From:"Can you do that thing with a coat hanger to unlock it?"
From: More out of amusement than optimism, I gave it a try. I slid the hanger into the window's seal like I'd seen on crime shows, and spent a few minutes jiggling the apparatus around the inside of the frame. Suddenly, two things simultaneously clicked. One was the lock on the door. (I actually succeeded in springing it.) The other was the realization that I'd been in this type of situation before. In fact, I'd been born into this type of situation.
From:But more than punctuality and a special affinity for musical chairs, my family life has taught me to thrive in situations over which I have no power. Growing up, I never controlled my older siblings, but I learned how to thwart their attempts to control me. I forged alliances, and realigned them as necessary. Sometimes, I was the poor, defenseless little brother; sometimes I was the omniscient elder. Different things to different people, as the situation demanded. I learned to adapt.

There are 3 lines startswith From

In [ ]:
len('p\nb')

3

In [ ]:
f = open('demofile.txt','w')
f.writelines('my name is vikram \n i am 20 yrs old')
f.close()

In [ ]:
f = open('demofile.txt','r')
print(f.read())

my name is vikram
 i am 20 yrs old

Question 1 :
Make a file names "file.txt" and copy paste the following lines in the file: "From xyz.vhy@perfectplanb.net Sat Jan 5 09:14:16 2008. Return-Path: Received: from murder (perfectplanb.net [141.211.14.90]) by mail.perfectplanb.net with LMTPA;Sat, 05 Jan 2008 09:14:16 -0500" Then, Write a program to read through this file and print the contents of the file (line by line) all in uppercase. Output should be as follows: "FROM XYZ.VHY@PERFECTPLANB>NET SAT JAN 5 09:14:16 2008. RETURN-PATH: RECEIVED: FROM MURDER (PERFECTPLANB>NET [141.211.14.90]) BY MAIL.PERFECTPLANB.NET WITH LMTPA; SAT, 05 JAN 2008 09:14:16 -0500"

In [ ]:
f = open('file.txt')
for line in f:
  line = line.rstrip()
  print(line.upper())

"FROM XYZ.VHY@PERFECTPLANB.NET SAT JAN 5 09:14:16 2008. RETURN-PATH:
RECEIVED: FROM MURDER (PERFECTPLANB.NET [141.211.14.90]) BY
MAIL.PERFECTPLANB.NET WITH LMTPA;SAT, 05 JAN 2008 09:14:16 -0500"

# Lists

In [ ]:
# creation and mutation
lists = ['vikram', 24, True]
print(lists)
lists[1] = 36
print(lists)
lists[2] = 'name'
print(lists)

['vikram', 24, True]
['vikram', 36, True]
['vikram', 36, 'name']

In [ ]:
# len() and range()
print(list(range(4)))
friends = ['Joseph','Glenn','Sally']
print(len(friends))
print(list(range(len(friends))))

[0, 1, 2, 3]
3
[0, 1, 2]

In [ ]:
students = ['vikram','upendhra','mahendra','chandu','mohan reddy']
for student in students:
  print('Hello',student)
print('\n')
for i in range(len(students)):
  print('Hello',students[i])

Hello vikram
Hello upendhra
Hello mahendra
Hello chandu
Hello mohan reddy


Hello vikram
Hello upendhra
Hello mahendra
Hello chandu
Hello mohan reddy

In [ ]:
# list slicing  (smilar to slicings)
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[3:5])
# building a list from scratch
stuff = list()
stuff.append('name')
stuff.append('vikram')
stuff.append(22)
stuff.append(True)
print(stuff)
# using "in" for serching
print(9 in numbers)
print(20 in numbers)
print(9 not in numbers)
print(20 not in numbers)

# sorting list
numbers.sort()
print(numbers)
students.sort()
print(students)

[4, 5]
['name', 'vikram', 22, True]
True
False
False
True
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['chandu', 'mahendra', 'mohan reddy', 'upendhra', 'vikram']

In [ ]:
stuff =list()
while True:
  n= input('Enter the number: ')
  if n == 'done':
    break
  stuff.append(float(n))
print('avg :',sum(stuff)/len(stuff))

Enter the number: 40
Enter the number: 44
Enter the number: 34
Enter the number: done
avg : 39.333333333333336

In [ ]:
# String to list using split()
string = 'my name is Vikram'
stuff = string.split()
print(stuff)

['my', 'name', 'is', 'Vikram']

In [ ]:
a= [1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

Question 1 :
Create a file named "file.txt" with the following text mentioned below. You are requested to extract Day i.e. Sat, Sun etc from this file and print the days so that your output looks like: SatSunMonTueWed. (Print the output in new lines i.e. Sat then next line Sun then next line Mon etc.)

In [ ]:
# List assignment
try:
  file = open('file1.txt','w')
  file.writelines('From stephen.marquard@perfectplanb.net Sat Jan 5 09:14:16 2020\nFrom stephen.marquard@perfectplanb.net Sun Jan 6 09:14:16 2020\nFrom stephen.marquard@perfectplanb.net Mon Jan 7 09:14:16 2020\nFrom stephen.marquard@perfectplanb.net Tue Jan 8 09:14:16 2020\nFrom stephen.marquard@perfectplanb.net Wed Jan 9 09:14:16 2020')
  file.close()
except:
  print('File already exist')

In [ ]:
f = open('file1.txt','r')
data = f.readlines()
for line in data:
  line = line.strip().split()
  if (len(line) <3 or line[0] != 'From'):
    continue
  else:
    print(line[2])

Sat
Sun
Mon
Tue
Wed

# Dictionaries

In [ ]:
# use curly braces
# Dictionaries are unordered collection of (key:value) pairs
# we can define empty dictionary by dict() function or empty curly braces '{}'.

purse = dict()
purse['money'] = 12
purse['candy'] = 2
purse['tissue'] = 13
print(purse)

purse['candy']=purse['candy']+3
print(purse)
jjj = {'name':5,'age':10,'year':2020}
jjj['name'] = jjj['name']+5
print(jjj)
jjj['tone']=100
print(jjj)

{'money': 12, 'candy': 2, 'tissue': 13}
{'money': 12, 'candy': 5, 'tissue': 13}
{'name': 10, 'age': 10, 'year': 2020}
{'name': 10, 'age': 10, 'year': 2020, 'tone': 100}

In [ ]:
# get() function
count = {}
line = input('Enter a line: ')
words = line.split()
for word in words:
  count[word] = count.get(word,0) + 1
print(count)

Enter a line: hi every one how are you i hope you people are good
{'hi': 1, 'every': 1, 'one': 1, 'how': 1, 'are': 2, 'you': 2, 'i': 1, 'hope': 1, 'people': 1, 'good': 1}

In [ ]:
# Loops and Dictionaries(iterates around keys of dictionary)
import datetime
mfg = datetime.datetime(2020, 5, 17)
purse = {'make':'totyota','Odometer':10000,'Doors':4,'MFG.Date':mfg}
# dict.keys()
print(purse.keys())
# dict.values()
print(purse.values())
# dict.items()
print(purse.items())
for key,value in purse.items():
  print(key, value)
for key in purse.keys():
  print(key)  
for value in purse.values():
  print(value)

dict_keys(['make', 'Odometer', 'Doors', 'MFG.Date'])
dict_values(['totyota', 10000, 4, datetime.datetime(2020, 5, 17, 0, 0)])
dict_items([('make', 'totyota'), ('Odometer', 10000), ('Doors', 4), ('MFG.Date', datetime.datetime(2020, 5, 17, 0, 0))])
make totyota
Odometer 10000
Doors 4
MFG.Date 2020-05-17 00:00:00
make
Odometer
Doors
MFG.Date
totyota
10000
4
2020-05-17 00:00:00

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Tue Mar 30 09:37:18 2021

In [ ]:
ppb ={}
print(ppb['can'])

KeyError: ignored

In [ ]:
print(ppb.get('can',-1))

-1

In [ ]:
for key in purse:
  print(key)

make
Odometer
Doors
MFG.Date

Question 1 :
Create a file named "file.txt" and copy paste the following information in the file :"the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car. Studying python is very important. perfect Plan B makes us perfect in python and Machine Learning".  Count the number of words i.e each word comes how many times using dictionaries. For example, the comes 7 times, clown 2 times and so on.  Thereafter, calculate the the word coming largest number of times. The output should be as follows:"Enter File file.txt the 7 clown 2 ran 2 after 1 car 3 and 3 into 1 tent 2 fell 1 down 1 on 1 Studying 1 python 2 is 1 very 1 important 1 perfect 2 plan 1 B 1 makes 1 us 1 in 1 and 1 Machine 1 Learning 1 Done the 7".

In [ ]:
try:
  file = open('file.txt','w')
  file.writelines('the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car. Studying python is very important. perfect Plan B makes us perfect in python and Machine Learning')
  file.close()
except:
  print('File already exist')

In [ ]:
file_name = input('Enter filename: ')
f = open(file_name,'r')
data = f.read()
words = data.split()
count = {}
for i in range(len(words)):
  words[i] = words[i].strip('.')
  count[words[i]] = count.get(words[i],0) + 1
key = max(count, key = count.get)
print(f'{count} \nDone \n{key}:{max(count.values())}' )

Enter filename: file.txt
{'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 4, 'into': 1, 'tent': 2, 'fell': 1, 'down': 1, 'on': 1, 'Studying': 1, 'python': 2, 'is': 1, 'very': 1, 'important': 1, 'perfect': 2, 'Plan': 1, 'B': 1, 'makes': 1, 'us': 1, 'in': 1, 'Machine': 1, 'Learning': 1}
Done
the:7

In [ ]:
#This is working code. Check if this meet your criteria
num = 0
tot = 0
val =0
while  val != "exit":
  try:
    val = input("Enter NUmber")
    val1 = float(val)
    num = num + 1
    tot = tot + val1
  except:
    print("invalid")
print(tot)

Enter NUmber10
Enter NUmber23
Enter NUmber45
Enter NUmber76
Enter NUmberexit
invalid
154.0

# **Tuples**



1.   tuples are like lists but immutable
2.   tuples acces with inde xnumbers

In [ ]:
y = (1,2,3)
print(type(y))
y[2] = 4

<class 'tuple'>

TypeError: ignored

In [ ]:
# tuple can be put on the left side of assignment
(x,y) = (1,'nine')
print (y)

nine

In [ ]:
# paranthesis can also be omitted
x,y =10, 12
print(x)

10

In [ ]:
# dictionary is nothing but list of tuple
d  = {}
d['k1']=2
d['k2']=9
tuple = d.items()
print(tuple)

dict_items([('k1', 2), ('k2', 9)])

In [ ]:
(9,7,6)>(5,4,3)

True

In [ ]:
a = {'a':10,'b':1,'c':22}
list1=[]
for k,v in a.items():
  list1.append((v,k))
print(list1)
print(sorted(list1))
print(sorted(list1,reverse = True))

[(10, 'a'), (1, 'b'), (22, 'c')]
[(1, 'b'), (10, 'a'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [ ]:
# above program in one line
print(sorted([(v,k) for (k,v) in a.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

In [ ]:
print(sorted([(v,k) for (k,v) in a.items()],reverse = True))

[(22, 'c'), (10, 'a'), (1, 'b')]

In [ ]:
z = ('a','d','g','h','j','6')
print(z[2:4])

('g', 'h')

In [ ]:
file_name = input('Enter filename: ')
f = open(file_name,'r')
data = f.read()
words = data.split()
count = {}
list1 = []
for i in range(len(words)):
  words[i] = words[i].strip('.')
  count[words[i]] = count.get(words[i],0) + 1
b = sorted([(v,k) for (k,v) in count.items()],reverse =True)
print(dict([(v,k) for (k,v) in b]))

Enter filename: file.txt
{'the': 7, 'and': 4, 'car': 3, 'tent': 2, 'ran': 2, 'python': 2, 'perfect': 2, 'clown': 2, 'very': 1, 'us': 1, 'on': 1, 'makes': 1, 'is': 1, 'into': 1, 'in': 1, 'important': 1, 'fell': 1, 'down': 1, 'after': 1, 'Studying': 1, 'Plan': 1, 'Machine': 1, 'Learning': 1, 'B': 1}

#  Sets


1.   unordered collection of data
2.   immutable
3.   iterable
4.   no duplicates
5.   sets cannot have mutable things as elements (lists and dictionaries)

In [ ]:
my_set = {2,'hello',(1,2,3),2.0}
print(my_set)

{2, 'hello', (1, 2, 3)}

In [ ]:
my_set = {}
print(type(my_set))

<class 'dict'>

In [ ]:
my_set =  set()
print(type(my_set))

<class 'set'>

In [ ]:
# modifying a set in python
# add() To add single item to a set
my_set = {'Python','DS', 'ML'}
print(my_set)
my_set.add('OOPs')
print(my_set)

{'DS', 'Python', 'ML'}
{'DS', 'OOPs', 'Python', 'ML'}

In [ ]:
#update() to add multiple items to set
# update() can also take tuples, sets, strings and lists and dictionaries as its arguments. But no duplicates
my_set = {'Python','DS', 'ML'}
print(my_set)
my_set.update(['OOPs','Python Advanced'])
print(my_set)
my_set.update({'Age':23,'Name': 'Vikram Enimireddy'})
print(my_set)
my_set.update([1,2,3,4,5])
print(my_set)

{'DS', 'Python', 'ML'}
{'DS', 'OOPs', 'ML', 'Python Advanced', 'Python'}
{'DS', 'OOPs', 'Name', 'ML', 'Python Advanced', 'Python', 'Age'}
{1, 2, 3, 4, 5, 'DS', 'OOPs', 'Name', 'ML', 'Python Advanced', 'Python', 'Age'}

In [ ]:
# Removing And Deleting Elements of Sets
# discard() : will leave the set unchanged if the element is not present in the list 
my_set = {'DS', 'OOPs', 'ML', 'Python Advanced', 'Python'}
print(my_set)
my_set.discard('DS')
print(my_set)
my_set.discard('EVEN')
print(my_set)

{'ML', 'Python Advanced', 'DS', 'Python', 'OOPs'}
{'ML', 'Python Advanced', 'Python', 'OOPs'}
{'ML', 'Python Advanced', 'Python', 'OOPs'}

In [ ]:
# Remove: raise an error in such condition (if element is not present in list)
my_set = {'DS', 'OOPs', 'ML', 'Python Advanced', 'Python'}
print(my_set)
my_set.remove('DS')
print(my_set)
my_set.remove('EVEN')
print(my_set)

{'ML', 'Python Advanced', 'DS', 'Python', 'OOPs'}
{'ML', 'Python Advanced', 'Python', 'OOPs'}

KeyError: ignored

In [ ]:
# pop() : remove top element from set. sets are unordered so we cant sure which element is removed
my_set = {'DS', 'OOPs', 'ML', 'Python Advanced', 'Python'}
print(my_set)
x = my_set.pop()
print(x)

{'ML', 'Python Advanced', 'DS', 'Python', 'OOPs'}
ML

In [ ]:
# clear / Delete a set
my_set = {'DS', 'OOPs', 'ML', 'Python Advanced', 'Python'}
my_set.clear()
print(my_set)

set()

In [ ]:
# SETs Vs LISTs  Vs DICTIONARIEs
# Lists and Tuples
# 1. Storing values in sequence
# 2. Duplicates
# Sets
# 1. Unordered
# 2. No duplicates are allowed
# 3. Collection of unique keys
# DICTIONARIEs
# 1. Collection of keys and values

In [ ]:
# Set operations
# union
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.union(set2)) # or print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# intersection
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.intersection(set2)) # or print( set1 & set2)

{4, 5, 6}

In [ ]:
# difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.difference(set2)) # or print(set1 - set2)

{1, 2, 3}

In [ ]:
# symmetric difference 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.symmetric_difference(set2)) # or print(set1 ^ set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
# Sets Membership Test
set1 = {1,2,3,4,5,6}
print(4 in set1)
print(4 not in set1)

True
False

In [ ]:
# iterate through the set
set1 = {1,2,3,4,5,6}
for element in set1:
  print(element)

1
2
3
4
5
6

In [ ]:
# length of set
set1 = {1,2,3,4,5,6}
print(len(set1))

6

In [ ]:
# Tuples are immutable lists
# Frozen sets are immutable sets : frozen set is same as set but once the value is assigned it cannot changed.
# initialization of frozen sets
A = frozenset([1,2,3,4,5])
A.add(4)

AttributeError: ignored

Mr. Aakash is the manager at the star hotel. The hotel has an infinite amount of rooms. One fine day, a finite number of tourists come to stay at the hotel. The tourists consist of: → A Captain. → An unknown number of member The Captain was given a separate room, and the rest were given one room per member Mr. Aakash has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear many times in list for members except the Captain's room will appear only once in list. Mr. Aakash needs you to help him find the Captain's room number.let room number be : 1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

In [ ]:
A = [1,2,3,6,5,4,4,2,5,3,6,1,6,5,3,2,4,1,2,5,1,4,3,6,8,4,3,1,5,6,2]
B =set(A)
for room in B:
  if A.count(room) > 1:
    pass
  else:
    print('Captain room number is: ',room)

Captain room number is:  8

TypeError: ignored

In [ ]:

s ='man'
print(''.join(reversed(s)))
print(s[::-1])

nam
nam

Problem 4 : Python program to create a list of tuples from
given list having number and its cube in each tuple

In [ ]:
# Tuples:
a =[9,5,6]
print(list((k,k**3) for k in a))

[(9, 729), (5, 125), (6, 216)]

Problem 5 : Python | Print an Inverted Star Pattern

In [ ]:
#  inverted star pattern
n = 5
for i in range (n, 0, -1):
  print((n-i) * ' ' + i * '*')

*****
 ****
  ***
   **
    *

Problem 11 : Reverse words in a given String in Python

In [ ]:
s = 'python is good'
print(' '.join(reversed(s.split(' '))))

good is python

In [ ]:
list = ['name','exam','main','vikky','age','body','name','name']
print ('name' in list)
list.index('name',-1)

True

7

In [ ]:
list = [1,2,3,5,6,4,8,9,5]
print(list[::-1])

[5, 9, 8, 4, 6, 5, 3, 2, 1]

Python | Check if a Substring is Present in
a Given String

In [ ]:
s1 = input('Enter the string: ')
s2 = input('Enter the sub string: ')
if s2 in s1:
  print('yes')
else:
  print('No')

True

Problem 13 : Python program to print even length
words in a string

In [ ]:
s = input('Enter the string: ')
words = s.split(' ')
for word in words:
  if len(word)%2 ==0:
    print(word)

my
name
is
vikram
enimireddy
your
name
un

Problem 14 : Python | Program to accept the strings
which contains all vowels

In [ ]:
s = input('enter the string: ')
s1 = s.lower()
elements = []
vowels = ['a','e','i','o','u']
for char in vowels:
  if char in s1:
    pass
  else:
    elements.append(char)
    flag = False  
if elements!=[]:
  print(f'Not acceptable\n {elements} are not present')
else:
  print('Acceptable\n All Vowels are present')

enter the string: many enemies or unnamed
Acceptable
 All Vowels are present

Problem 15 : Remove all duplicates from a given string
in Python

In [ ]:
s = input('Enter the string: ')
s1 = sorted(set(char for char in s ))
for char in s1:
  print(char, end = '')

Enter the string: geekforgeeks
efgkors

Problem 16 : Python program to find the sum of all
items in a dictionary

In [ ]:
a =  {'a': 100, 'b':200, 'c':300}
total = 0
for value in a.values():
  total+=value
print(total)

600

Problem 17 : Python | Convert a list of Tuples into
Dictionary

In [ ]:
a = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
b = dict(a)
print(b)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

Problem 18 : Python Program for Tower of Hanoi

In [ ]:
# Recursive Python function to solve the tower of hanoi
  
def TowerOfHanoi(n , source, destination, auxiliary):
    if n==1:
        print (f"Move disk 1 from source",source,"to destination",destination)
        return
    TowerOfHanoi(n-1, source, auxiliary, destination)
    print(f"Move disk",n,"from source",source,"to destination",destination)
    TowerOfHanoi(n-1, auxiliary, destination, source)
n = 3
TowerOfHanoi(n,'A','B','C')

Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 3 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B

Problem 19 : Python program to copy odd lines of one
file to other

In [ ]:
f = open('file1.txt','r')
data = f.readlines()
lines=data[0:len(data):2]
for line in lines:
  print(line)

Hello

Python

Problem 20 : Python program to check if a string
contains all unique characters

In [ ]:
s = input('Enter the number: ')
s1=set(s)
print(len(s) == len(s1))

Enter the number: a b c d
False

# Searching Sorting Complexity Analysis

Problem 1 : Python Program for Linear Search

Examples :

Input : arr[] = {10, 20, 80, 30, 60, 50,
 110, 100, 130, 170}

x = 110;

Output : 6

Element x is present at index 6

In [ ]:
def linearsearch(arr,x):
  for i in range(len(arr)):
    if arr[i] == x:
      return(f'Element {x} is present at {i}')
      break
  return(-1)  
arr = [10, 20, 80, 30, 60, 50, 110, 100, 130, 170]
x = 60
linearsearch(arr,x)

'Element 60 is present at 4'

Problem 2 : Python Program for Binary Search
(Recursive)

In [ ]:
def binarysearch(arr,low,high,x):
 if high>=low:
   mid = (low + high)//2
   if arr[mid] == x:
     return (f'Element {x} is present at {mid}')
   elif arr[mid] > x:
     return binarysearch(arr,low,mid-1,x)
   else:
     return binarysearch(arr,mid+1,high,x)
 else:
   return -1     
arr = [10, 20, 30, 50, 100, 130, 170]
x = 50
print(binarysearch(arr,0,len(arr),x))

Element 50 is present at 3

Problem 2 : Python Program for Binary Search
 (Iterative)

In [ ]:
def binarysearch(arr,low,high,x):
 while high>=low:
   mid = (low + high)//2
   if arr[mid] > x:
     high = mid-1
   elif arr[mid] < x:
     low = mid+1
   else:
     return mid  
 else:
   return -1     
arr = [10, 20, 30, 50, 100, 130, 170]
x = 170
print(binarysearch(arr,0,len(arr),x))

6

Python Program for QuickSort

In [ ]:
def partition(arr,low, high):
  i= low - 1
  pivot = arr[high]
  for j in range(low,high):
    if arr[low]<= pivot:
      i=i+1
      arr[i],arr[j] = arr[j],arr[i]
  arr[i+1],arr[high] = arr[high],arr[i+1]
  return i+1
def quickSort(arr,low,high):
  if low < high:
    pi = partition(arr,low,high)
    quickSort(arr, low, pi-1)
    quickSort(arr, pi+1, high)
arr = [10, 7, 8, 9, 1, 5]
n = len(arr)
quickSort(arr,0,n-1)     
print ("Sorted array is:")
for i in range(n):
  print ("%d" %arr[i]),

Sorted array is:
5
1
7
8
9
10

In [ ]:
%timeit
arr = [10, 7, 8, 10, 19, 23, 9, 1, 5]
for i in range(0,len(arr)-1):
  for j in range(0,len(arr)-1):
    if arr[j]>arr[j+1]:
      arr[j],arr[j+1] = arr[j+1],arr[j]
    else:
      pass  
print(arr)

[1, 5, 7, 8, 9, 10, 10, 19, 23]