In [ ]:
print("Hello World")

Hello World

# Constants
  1. numerical constants : 1,2,3,4
  2. strings : characters, words

In [ ]:
# data type

a='test'
b=1
c=True
print(type(a)),print(type(b),1),print(type(c),1)

<class 'str'>
<class 'int'>
<class 'bool'>

(None, None, None)

In [ ]:
# Variables : Named place of memory
a=10
b=20
a=30
print(a)
# here a and b are variables we use variables for storing and retrieval of data. we can modify the values of variables.b

30

#  Precedence 

1. Paranthesis
2. power 
3. multiplication
4. Addition 
5. Substraction

# Type conversion and String conversions

1. int()
2. float()

In [ ]:
a = 42
b = 99.0
c = a+b
print(type(c)) # It will give float
#  Conversion into int
d = int(c) 
print(type(d))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
#  Integer division always gives float
print(type(6/2))

<class 'float'>

In [ ]:
# floor division always gives int
print(type(67//2))

<class 'int'>

In [ ]:
# string to float
a = '2'
print(type(a))
b = int(a)
print(type(b))
# now we can add numbers to b
print(b+2)

<class 'str'>
<class 'int'>
4

# User input

function : input()

In [ ]:
name = input("what's your name ? \n")
print("Welcome", name)
print("Have a Nice day")

what's your name ?
vikram
Welcome vikram
Have a Nice day

In [ ]:
number = input("Enter a number: ")
adding_1 = int(number)+1
print("number after adding 1 is : ", adding_1)

Enter a number: 100
number after adding 1 is :  101

In [ ]:
type(print(89.8))

89.8

NoneType

In [ ]:
j=4
j=j+4
print(j)

8

In [ ]:
1 + 3 * 2 - 8 / 4

5.0

In [ ]:
int(89.7)

89

Question 1 : Write a program to prompt the user for days and rate per day to compute total pay. Use 50 days and a rate of 3.5 per day to test the program. Total pay is equal to (days* Rate per day). You should use input to read a string and float() to convert the string to a number. Don't worry about error checking or bad user data. Good Job!

In [ ]:
days = input("Enter the no.of days: ")
rate_per_day = input("Enter rate per day: ")
print("Total pay is:",float(days)*float(rate_per_day))

Enter the no.of days: 5
Enter rate per day: 50
Total pay is: 250.0

# **Decisions** : **Oneway**

In [ ]:
x=2
print('Before 2')
if x == 2:
  print('Is 2')
  print('Still 2')
print('After 2')
print('Before 3')
if x == 3:
    print('Is 3')
    print('Still 3')
print('After 3')

Before 2
Is 2
Still 2
After 2
Before 3
After 3

#**Decisions : Multiway**

In [ ]:
# Nested IF example
num = float(input('Enter a number: '))
if num >= 0:
  if num == 0:
    print('Zero')
  else:
    print('Positive Number')
else:
  print('Negative Number')

Enter a number: 0.0
Zero

In [ ]:
num = float(input('Enter a number: '))
if num >= 0:
  print('Positive Number')
elif num == 0:
  print("Zero")
else:
  print('Negative Number')
print('End')

Enter a number: -0.9
Negative Number
End

# **Try / Except Clause**

In [ ]:
str = 'Hello Bob'
try:
  int_str = int(str)
except:
  int_str = -1
print('First',int_str)  

str = '123'
try:
  int_str = int(str)
except:
  int_str = -1
print('Second',int_str)

First -1
Second 123

In [ ]:
def divide(x=10,y=2):
  try:
    result = x/y
    print('Your answert is: ', result)
  except:
    try:
      result = float(x)/float(y)
      print('Your answer is: ', result)
    except :
      print('Sorry! You are dividing with zero')
divide()

Your answert is:  5.0

In [ ]:
num = input("enter a number: ")
try:
  val = int(num)
  print("conversion successful")
except:
  val =-1
if val >0 :
  print ('Answer is ',val)
else:
  print("Not a number")

enter a number: aaa
Not a number

Question 1 : Rewrite your pay program using try and except so that your program handles non-numeric input gracefully by printing a message and exiting the program. The following shows two executions of the program: Enter Days: 20. Enter Rate: nine. Error, please enter numeric input Enter Days: forty Error, please enter numeric input

In [ ]:
days = input("Enter the no.of days: ")
rate_per_day = input("Enter rate per day: ")
try:
  total_pay = float(days)*float(rate_per_day)
  print('Total pay is:',total_pay)
except:
  print('Sorry! Please, Enter numerical data')

Enter the no.of days: '5'
Enter rate per day: '10'
Sorry! Please, Enter numerical data

In [ ]:
days = input("Enter the no.of days: ")
try:
  days = float(days)
  rate_per_day = input("Enter rate per day: ")
  total_pay = float(days)*float(rate_per_day)
  print('Total pay is:',total_pay)
except:
  print('Error, please enter numeric input')

Enter the no.of days: ten
please enter numeric input

In [ ]:
xh = input("Enter Days:")
xr = input("Enter Rate:")
try:
  fh = float(xh)
  fr = float(xr)
except:
  print("Error, please enter numeric input")

Enter Days:nine
Enter Rate:ten
Error, please enter numeric input

# Functions : Stored and reused things

In [ ]:
def myfunction():
  print('hi')
  print('whatsup')
myfunction()
print('not in function')
myfunction()

hi
whatsup
not in function
hi
whatsup

In [ ]:
def myfunction(lang):
  if lang == 'es' :
    print('Hola')
  elif lang == 'fr' :
    print('Bonjour')
  else:
    print('Hello')
myfunction('fr')
myfunction('es')
myfunction('en')

Bonjour
Hola
Hello

In [ ]:
def even_or_odd(num):
  if num%2 ==0 :
    print(num, 'is even number')
  else:
    print(num, 'is odd number')  
even_or_odd(8)    
even_or_odd(9)  
even_or_odd(-6)

8 is even number
9 is odd number
-6 is even number

In [ ]:
# Functions : Return values
def greet():
  return 'Hello'
print(greet(),'Vikram Enimireddy')  
print(greet(),'Mahendra Muli')

Hello Vikram Enimireddy
Hello Mahendra Muli

In [ ]:
# Functions : multiple parameters / Arguments
def add(x,y):
  sum = x+y
  return sum
out = add('hi ','vikky')  
print(out)

hivikky

In [ ]:
def multiply(x,y):
  sum = x * y
  return sum
out = multiply('hi ',2)  
print(out)
multiply(30,2)

hi hi

60

Question 1 :
Rewrite your pay computation and create a function called computeTotalpay which takes two parameters (days and rate) and returns computed pay as answer.           Enter Days: 45.  Enter Rate: 10.     Pay: 450.0

In [ ]:
def computeTotalpay(days, rate):
  computed_pay = float(days)*float(rate)
  return computed_pay

days = input("Enter the no.of days: ")
try:
  days = float(days)
  rate = input("Enter rate per day: ")
  print('computed_pay :',computeTotalpay(days, rate))
except:
  print('Sorry! Please, Enter numerical data')

Enter the no.of days: nine
Sorry! Please, Enter numerical data

# **Loops and Iterations : The repeated steps**

In [ ]:
# While loop
count = 0
while count<5 :
  print('Hello, World')
  count+=1

Hello, World
Hello, World
Hello, World
Hello, World
Hello, World

# Break & Continue

In [ ]:
while True:
  line = input('> ')
  if line[0] == '#':
    continue
  if line == 'done':
    break
  print(line)
print('Done')

> Hello There
Hello There
> #Don't Print this
> print this
print this
> done
Done

In [ ]:
# For loop
# Iteration over list
print('iteration over list of integers')
for i in [5,4,3,2,1,0]:
  print(i)
  
print('iteration over list of strings')
for i in ['my','name','is','vikram']:
  print(i)

iteration over list of integers
5
4
3
2
1
0
iteration over list of strings
my
name
is
vikram

In [ ]:
# for loop examples
count=0
large_value =-1
for num in [9,99,12,3,74,15]:
  count+=1
  if num > large_value:
    large_value = num

print('largest value in list: ',large_value)    
print('count : ',count)

largest value in list:  99
count :  6

In [ ]:
sum=0
count=0
for num in [9,45,12,3,74,15]:
  sum+=num
  count+=1
print('Average of list: ',sum/count)       
print('sum of list: ',sum)
print('total numbers in list: ',count)

Average of list:  26.333333333333332
sum of list:  158
total numbers in list:  6

In [ ]:
# Filtering Loop
for num in [9,41,12,3,74,15]:
    if num > 20:
      print('large number: ',num)

large number:  41
large number:  74

In [ ]:
# searching in list
bool = False
for num in [9,41,12,3,74,15]:
    if num == 4:
      bool = True
      break
    else:
      bool = 'False'
if bool == True:
  print ('3 is in list')
else:
  print ('3 is not in list')

3 is not in list

In [ ]:
# smallest in list
small = None
for num in [9,41,12,3,1,15,-10,-11,-19]:
  if small == None:
    small = num
  elif num < small:
    small = num
print('smallest in list is :',small)

smallest in list is : -19

Question 1 :
Write a program which repeatedly reads numbers until the user enters "exit". Once "exit" is entered, print out the sum, count, and average of the numbers. If the user enters anything other than a number, detect their mistake using try and except and print an error message and skip to the next number.                        Enter a number: 4 Enter a number: 5 Enter a number: bad data Invalid input Enter a number: exit 9.0 2 4.5

In [ ]:
sum = 0
count = 0
while True:
  number = input('Enter the number: ')
  if number == 'exit':
    break
  else:
    try:
      number = float(number)
      sum+=number
      count+=1
    except:
      print('Invalid input')   
print('sum :', sum)
print('Count :', count)
print('Average :',sum/count)

Enter the number: 5
Enter the number: 5
Enter the number: 5
Enter the number: 5
Enter the number: exit
sum : 20.0
Count : 4
Average : 5.0

In [ ]:
num = 0
sum = 0.0
while True:
  val = input("Enter a number: ")
  if val == 'exit':
    break
  try:
    fval = float(val)
  except:
    print('Invalid')
    continue
  num = num + 1
  sum = sum + fval
print('sum:{}\ncount:{}\nAverage:{}'.format(sum,num,sum/num))

Enter a number: 10
Enter a number: 23
Enter a number: 56
Enter a number: 34
Enter a number: exit
sum:123.0
count:4
Average:30.75

6# Top **15** interview problems

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Python Program for factorial of a number
number = input("Enter a number: ")
try:
  number = int(number)
  if number <0:
    print(0)
  elif number==1 or number == 0 :
    print(1)
  else:     
    factorial = 1
    for i in range(1,number+1):
      factorial = factorial * i
    print(f'Factorial of number {number} is : {factorial}')
except:
  print('Invalid input')

Enter a number: a
Invalid input

In [ ]:
#Problem 3 : Python Program for simple interest
try:
  P = float(input('enter the principal amount: '))
  T = float(input('enter time in years: '))
  R = float(input('enter rate of interest: '))
  print(f'Simple interest is {(P*T*R)/100}')
except:
  print('Invalid input')

enter the principal amount: 10000
enter time in years: 9
enter rate of interest: 15
Simple interest is 13500.0

In [ ]:
# Problem 4 : Python Program for compound interest
try:
  P = float(input('enter the principal amount: '))
  T = float(input('enter time in years: '))
  R = float(input('enter rate of interest: '))
  print(f'Simple interest is {P * (pow((1 + R / 100), T))}')
except:
  print('Invalid input')

enter the principal amount: 10000
enter time in years: 9
enter rate of interest: 15
Simple interest is 35178.762919199195

In [ ]:
# Problem 5 : Python Program to check Armstrong Number
try:
  number =int(float(input('enter the number:')))
  length = len(str(number))
  sum = 0
  for  char in str(number):
    sum = sum + (int(char)**length)
  if int(sum) == int((number)) :
    print(f'{number} is Armstrong Number')
  else:
    print(f'{number} is  Not an Armstrong Number')
except:
  print('Invalid input')

enter the number:avdc
Invalid input

In [ ]:
# Problem 6 : Python Program for Program to find area of a circle
try:
  import math
  radius = float(input('Enter the radius of circle: '))
  print(f'The area of circle with radius {radius} is: {math.pi*radius**2}')
except:
  print('Invalid input')

Enter the radius of circle: 23.6
The area of circle with radius23.6 is: 1749.7414443433713

In [ ]:
# Problem 7 : Python program to print all Prime numbers in an Interval
try:
  a = int(input('enter the lower value of the interval:'))
  if a ==1:
    a+=1  
  elif a==0:
    a+=2  
  elif a<0:
    raise ValueError
  b = int(input('enter the higher value of the interval:'))
  list1 = [*range(a,b,1)]
  for number in list1:
    for  i in range(2,number//2):
      if number % i ==0:
        break  
    else:
      print (number,'\n')
except:
  print('Invalid input')

enter the lower value of the interval:-10
Invalid input

In [ ]:
#Problem 8 : Python program to check whether a number is Prime or not
try:
  number =int(input('enter the number: '))
  if number == 1 or number <= 0:
    print(False)
  else:
    for i in range(2,number//2+1):
      if number % i ==0:
        print(False)
        break
    else:
      
      print(True)
except:
  print('Invalid input')

enter the number: 123
False

In [ ]:
# Problem 9 : Python Program for n-th Fibonacci number
def fibn(n):
  if n==1 or n==0:
    return n
  elif n < 0:
    raise    
  else:
    return (fibn(n-1) + fibn(n-2))  
try:
  n= int(input ('Enter which fibonacci number do you want: '))  
  print(fibn(n-1))
except:
  print('Invalid input')

Enter which fibonacci number do you want: -10
Invalid input

In [ ]:
# Problem 10 : Python Program for printing Fibonacci numbers
try:
  n= int(input ('Enter how many fibonacci numbers do you want: '))
  if n<0:
    raise
  else:
    a = 0
    b = 1 
    print(f'{a}\n{b}')    
    for i in range(2,n):
      c = a+b
      a=b
      b=c
      print(c)
except:
  print('Invalid input')

Enter how many fibonacci numbers do you want: -10
Invalid input

In [ ]:
# Problem 11 : Python Program for How to check if a given number is Fibonacci number?
import math
def is_perfect_square(m):
  return (int(math.sqrt(m))**2 == m)
def fib_or_not(n):
  return (is_perfect_square(5*pow(n,2)+4)) or (is_perfect_square(5*pow(n,2)-4))
try:  
  n= int(input ('which number do you want to check: '))
  if fib_or_not(n) == True:
    print('Yes')
  else:
    print('No')
except:
  print('Invalid input')

which number do you want to check: 34
Yes

In [ ]:
# Problem 12 : Program to print ASCII Value of a character
char = str(input('Enter the character: '))
try:
  print(ord(char))
except:
  print('Invalid input')

Enter the character: d
100

In [ ]:
#Problem 13 : Python Program for Sum of squares of first n natural numbers
def sum_of_squares(n):
  sum = 0
  for i in range(1,n+1):
    sum = sum + i*i
  return sum
n = int(input('enter the number :')) 
print(sum_of_squares(n))

enter the number :10
385

In [ ]:
# Problem 14 : Python Program for cube sum of first n natural numbers
def sum_of_cubes(n):
  sum = 0
  for i in range(1,n+1):
    sum = sum + i**3
  return sum
try:  
  n =int(input('enter the number :'))
  if n<0:
    raise 
  print(sum_of_cubes(n)) 
except:
  print('Invalid input')

enter the number :10
3025